$light: #f6f4d2;
$mid1: #d4e09b;
$mid2: #cbdfbd; //tea green
$mid3: #73a6ad; //cadet blue
//$mid3: #f19c79; // peach
$dark: #a44a3f; //light rust

body {
  background-color: $mid3; //#48a9a6;
  font-family: "sans";
  font-size: 1.4rem !important;
}

body > div {
  background-color: #e4dfda !important;
}

h2 span {

  &.time {
    background-color: $mid2; //#d4b483;
    border-radius: 10px;
    border: 2px solid $dark; //#4281a4;
    color: $dark; //#4281a4;
    font-size: 0.8em;
    padding: 5px;
    margin-right: 10px;
  }

  &.who {
    background-color: none;
    font-size: 0.6em;
    padding-right: 5px;
    margin-right: 15px;
  }
}

.slides li {
  padding-bottom: 10px;
}
